$font: 'Quicksand', sans-serif;
$bg-color: #f7cdd5;
$bright-green: #31d4ab;
$bright-orange: #ffcf87;
$bold-font: 500;
$thin-font: 300;

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

html {
  background-color: $bg-color;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  @include flex-column;
  justify-content: center;

}

.page {
  @include flex-column;
  align-items: center;
  font-family: $font;
}

.picture {
  width: 450px;
  height: 100%;
}


.container {
  background-color: #fff;
  border-radius: 16px;
  @include flex-column;
  align-items: center;
  width: 400px;
  height: 380px;

  .header {
    color: $bright-green;
    margin: 35px 0;
    font-weight: $bold-font;
  }
  .equation {
    font-weight: $bold-font;
    color: $bright-orange;
    font-size: 40px;
  }
}

.credits {
  color: #fff;
  opacity: .5;
  text-decoration-style: dotted;
  text-underline-offset: 5px;
  font-weight: $thin-font;
  font-size: 12px;
  transition: all .2s linear;

  &:hover {
    opacity: 1;
    transform: scale(1.2);
  }
}